<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Born date:</strong>
    <%= employee.born_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Address number:</strong>
    <%= employee.address_number %>
  </p>

  <p>
    <strong>Address neigborhood:</strong>
    <%= employee.address_neigborhood %>
  </p>

  <p>
    <strong>Address city:</strong>
    <%= employee.address_city %>
  </p>

  <p>
    <strong>Address state:</strong>
    <%= employee.address_state %>
  </p>

  <p>
    <strong>Address zip code:</strong>
    <%= employee.address_zip_code %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employee.phone_number %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

</div>
