
  <div id="<%= dom_id employee %>" class="gap-2">
    <p>
      <strong>Nome:</strong>
      <%= employee.name %>
    </p>

    <p>
      <strong>Data de Nascimento:</strong>
      <%= employee.birthdate %>
    </p>

    <p>
      <strong>Endereço:</strong>
      <%= employee.address %>
    </p>

    <p>
      <strong>Número do Endereço:</strong>
      <%= employee.address_number %>
    </p>

    <p>
      <strong>Bairro:</strong>
      <%= employee.address_neighborhood %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= employee.address_city %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= employee.address_state %>
    </p>

    <p>
      <strong>CEP:</strong>
      <%= employee.address_zip_code %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= employee.phone_number %>
    </p>

    <p>
      <strong>Salário:</strong>
      R$ <%= employee.salary %>
    </p>

    <p>
      <strong>Desconto INSS:</strong>
      R$ <%= employee.discount_inss %>
    </p>
  </div>
