<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :born_date, style: "display: block" %>
    <%= form.date_field :born_date %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :address_number, style: "display: block" %>
    <%= form.text_field :address_number %>
  </div>

  <div>
    <%= form.label :address_neigborhood, style: "display: block" %>
    <%= form.text_field :address_neigborhood %>
  </div>

  <div>
    <%= form.label :address_city, style: "display: block" %>
    <%= form.text_field :address_city %>
  </div>

  <div>
    <%= form.label :address_state, style: "display: block" %>
    <%= form.text_field :address_state %>
  </div>

  <div>
    <%= form.label :address_zip_code, style: "display: block" %>
    <%= form.text_field :address_zip_code %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
