<div class="p-4 justify-content-center d-flex flex-column align-items-center">
  <p style="color: green"><%= notice %></p>

  <%= render @employee %>

  <div class="d-flex flex-row justify-content-around column-gap-3">
    <%= link_to "Voltar", employees_path, class: "btn btn-link btn-sm" %>
    <%= link_to "Editar Funcionário", edit_employee_path(@employee), class: "btn btn-primary btn-sm" %>
    <%= button_to "Deletar Funcionário", @employee, method: :delete, class: "btn btn-danger btn-sm" %>
  </div>
</div>
