<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Editar Funcionário", edit_employee_path(@employee) %> |
  <%= link_to "Voltar", employees_path %>

  <%= button_to "Deletar Funcionário", @employee, method: :delete %>
</div>
