<div class="container d-flex flex-row justify-content-center align-items-center">
  <div class="login-section pt-3">
    <div class="card text-center pt-5" style="width: 23rem;">
      <h3>Desconto INSS</h3>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3 mt-4">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="mb-3">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <%= f.submit "Log In", class:  "btn btn-primary w-100" %>
        <% end %>

        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert%>
          <p class="alert"><%= alert %></p>
        <%end%>

        <%
=begin%>
 <a href="#" class="fs-6 d-block my-4 text-decoration-none"> Forgot password?</a> 
<%
=end%>
      </div>
    </div>

    <div class="card text-center py-2 mt-3" style="width: 23rem;">
      <div class="card-text">
        Não tem uma conta? 
        <%= link_to  "Cadastre-se", new_user_registration_path, class: "fs-6  my-4 text-decoration-none" %>
      </div>
    </div>
  </div>
</div>